<style type="text/css">
    h3 {
    text-align: center;
    }
    h4 {
    margin-bottom: 0px;
    }
    ul {
    margin-top: 0px;
    }
</style>
<h3>CREDITS / ABOUT iHW</h3>

<p>This application is a product of the Harvard-Westlake Technology Council. The Tech
    Council is a student-run organization founded April 2014 to improve student life at
    Harvard-Westlake through the development of on-campus and mobile technology.</p>

<h4>2014-15 Development Team</h4>
<ul>
    <li>Ethan Madison</li>
    <li>David Weitz</li>
</ul>
<h4>Original Developer and 2013-14 Project Manager</h4>
<ul>
    <li>Jonathan Burns '14</li>
</ul>

<p>This application uses icons from <a href="http://www.icons8.com">icons8.com</a> (CC-BY-ND 3.0).
</p>